.menuaccordeon {
    margin: 0px;
    padding: 0px;
}

.menuaccordeon > li > a {
    display: block;
    width: 186px;
    height: 48px;
    background: url('../images/knopka_aktiv.png');
    text-align: center;
    line-height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menuaccordeon > li.active > a {
    background: url('../images/knopka_pasiv.png');
}

.menuaccordeon > li > ul > li {
    background: url('../images/marker)pasiv.png') no-repeat;
    padding-left: 20px;
}

.menuaccordeon > li > ul > li.active {
    background: url('../images/marker)aktiv.png') no-repeat;
}

.menuaccordeon li > ul.nav-child {
  display: none;
}

.menuaccordeon li.opened > ul.nav-child {
  display: block;
}

